/* main */
    @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

    body {
        background: #000;
    }

    p {
        color: #CCC;
        font-family: "Anonymous Pro", monospace;
        font-size: 24px;
        white-space: pre;
    }

    ::selection {
        background: #CCC;
        color: #000;
    }

/* vertically centered */
    .carbon {
        user-select: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* links */
    a {
        text-decoration: none;
        color: #CCC;
    }
    a:visited {
        color: #CCC;
    }
    a:hover {
        color: #000;
        background: #CCC;
    }
    a:active {
        color: #000;
        background: #FFF;
    }
